{% extends "layout.twig" %}
{% block content %}
   <div id="content">
        <div id="blurred">
            <div id="dialogDiv">
                    <div id="zoneArrow" class="">
                        <a href="{{origine}}" alt="lien retour" class=""> <i class="fa-solid fa-arrow-left"></i> </a>
                    </div>
                    {% if type == 'commentId' %}
                        <form method="POST" action="/deleteComment">
                            <input type="hidden" name="commentId"> 
                            <p>Êtes-vous sûr de vouloir supprimer le commentaire ?</p>
                            <button id="comment-btn" type="submit">Supprimer</button>
                        </form>
                    {% elseif type == 'deletePost' %}
                        <form method="POST" action="/Post/delete">
                            <input type="text" name="postId" value="{{postId}}"> 
                            <p>Êtes-vous sûr de vouloir supprimer le commentaire ?</p>
                            <button id="post-btn" type="submit">Supprimer</button>
                        </form>
                    {% elseif type == 'addComment' %}
                        <form method="POST" action="/comment/add">
                            <!-- <div class="hidden"> -->
                            <input type="text" id="postId" name="postId" value="{{postId}}"/>
                            <input type="text" id="userId" name="userId" value="{{session.user.userId }}" />
                            <!-- </div> -->
                            <div id="addComment" class="flex-column">
                            <label for="nickname">Pseudo:</label>
                            <input type="text" id="nickname" name="nickname" value="{{ session.user.nickname }}" readonly />
                            
                            <label for="content">Message:</label>
                            <textarea id="comment" name="content"></textarea>
                            </div>
                            <button id="comment-btn" type="submit">Soumettre</button>
                        </form>
                    {% elseif type == 'updateComment' %}
                        <form  method="POST" action="/updateComment">
                            <input type="hidden" name="commentId" id="commentIdInput">
                            <textarea id="commentContent" name="content"></textarea>
                            <button type="submit">Modifier</button>
                        </form>
                    {% elseif type == 'updatePost' %}
                        <form  method="POST" action="/updatePost">
                            <input type="hidden" name="postId" id="postIdInput">
                            <input name="title" id="postTitle">
                            <textarea id="postMessage" name="content"></textarea>
                            <button type="submit">Modifier</button>
                        </form>
                    {% elseif type == 'validNewComment' %}
                    <form method="POST" action="/validNewComment">
                        <input type="hidden" name="commentId"> 
                        <button id="comment-btn" type="submit">Publier</button>
                    </form>

                    <!-- {% elseif type == 'createPost' %}
                     <form method="POST" action="/Post/post">
                        <input type="text" id="userId" name="userId" value="{{userId }}" class="hidden" />
                        <label for="title">Titre</label>
                        <input type="text" id="title" name="title" />
                
                        <label for="content">Message:</label>
                        <textarea id="textarea-post" id="post" name="content"></textarea> 

                        <button id="addPost-btn" type="submit">Soumettre</button>
                    </form> -->
                    {% endif %}
            </div>
        </div>
    </div>
 {% endblock %}