{% extends "layout.twig" %}
{% block title %}Mon {% endblock %}
{% block css %}
  <link rel="stylesheet" href="../../public/css/blog.css"/>
{% endblock %}

{% block nav %}
  {% include 'navigation_include.twig' %}
{% endblock %}

{% block content %}
    <div id="gallery-img"></div>
    <div id="gallery" class="article">
      {% if posts is not empty %}
          {% for post in posts %}
          <article class="flex-around">
            <div id="post" class="article-wrapper">
                <img src="../../public/image/{{post.postId}}.jpg" />
              <div class="article-body flex-column">
                 <div class="article-title">
                  <h2>{{ post.title }}</h2>
                </div>
                <div class="article-content">
                  <p>{{ post.createdAt }}</p>
                  <p>{{ post.chapo }}</p>
                </div>
                <div class="article-link">
                  <a href="?{{post.postId}}" class="read-more"> En savoir plus <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </article>
          {% endfor %}
      {% else %}
        <p>No posts available.</p>
      {% endif %}
    </div>
    {% include 'footer_include.twig' %}
{% endblock %}
  
