{% extends "layout.twig" %}
{% block title %}Mon {% endblock %}
{% block css %}
  <link rel="stylesheet" href="../../public/css/blog.css"/>
  <link rel="stylesheet" href="../../public/css/article.css"/>
{% endblock %}


{% block nav %}
  {% include 'navigation_include.twig' %}
{% endblock %}

{% block content %}

  <div id="OneArticle" class="flex">
    <div id="article">
      <div id="image" class="flex-around">
          <img src="../../public/image/{{post.postId}}.jpg" id="image"/>
        </div>
      <article id="article-contain">
        
            <div class="">
              <h1>{{ post.title }}</h1>
            </div>
            <div class="">
              <p>{{ post.date }}</p>
            </div>
            <div class="article-message flex-center">
              <p>{{ post.message }}</p>
            </div>

      </article>
      {% if isAuthor%}
        <div id="article-manager" class="flex-around">
            <form method="POST" action="/action">
            <div class="hidden">
                <input type="hidden" name="type" value="updatePost" class="hidden"/>
                <input type="hidden" id="postId" name="postId" value="{{post.postId }}" class="hidden"/>
                <input type="hidden" id="userId" name="userId" value="{{session.user.userId }}" class="hidden" />
              </div>
            <button type="submit" id="commentAdd-btn" class="center-yz" data-content="addComment">Editer un article</button>
          </form>
          <form method="POST" action="/action">
            <div class="hidden">
                <input type="hidden" name="type" value="deletePost" class="hidden"/>
                <input type="hidden" id="postId" name="postId" value="{{post.postId }}" class="hidden"/>
                <input type="hidden" id="userId" name="userId" value="{{session.user.userId }}" class="hidden" />
              </div>
            <button type="submit" id="commentAdd-btn" class="c center-yz">Supprimer un article</button>
          </form>
        </div>
      {% endif %}
    </div>
    <div id="comment-zone">
      <h2 id="comment-title">Vos commentaires</h2>
      {% if session.status %}
      <form method="POST" action="/action">
         <div class="hidden">
            <input type="hidden" name="type" value="addComment" class="hidden"/>
            <input type="hidden" id="postId" name="postId" value="{{post.postId }}" class="hidden"/>
            <input type="hidden" id="userId" name="userId" value="{{session.user.userId }}" class="hidden" />
          </div>
        <button type="submit" id="commentAdd-btn" class="content-button center-yz" data-content="addComment">Ajouter un commentaire <i class="fa-solid fa-comment-medical"></i></button>
      </form>
      {% endif %}
      {% if comments is not empty %}
        {% for comment in comments %}
          <div class="comment">
               {% if comment.isOwner %}
                  <div id="comment-manager" class="flex-around">
                      <i class="fa-solid fa-pencil" id="updateCommentIcon"></i>
                      <i class="fa-solid fa-trash-can" id="deleteCommentIcon"></i>                  
                      </div>
              {% endif %} 
            <p>{{comment.nickname}}</p>
            <p>{{ comment.comment }}</p>
          </div>
        {% endfor %}
      {% else %}
        <p>No comment available.</p>
      {% endif %}
    </div>
  </div>

  {% include 'footer_include.twig' %}

{% endblock %}

