{% extends "layout.twig" %}
{% block title %}Mon {% endblock %}
{% block css %}
  <link rel="stylesheet" href="../../public/css/blog.css"/>
  <link rel="stylesheet" href="../../public/css/article.css"/>
{% endblock %}

{% block nav %}
  {% include 'navigation_include.twig' %}
{% endblock %}

{% block content %}
   
      
          {{dump(comments[0])}}
          <article class="article flex-column">
            <div id="article-img" class="">
                <img src="../../public/image/{{post.postId}}.jpg" />
              <div class="">
                 <div class="">
                  <h2>{{ post.title }}</h2>
                </div>
                <div class="">
                  <p>{{ post.date }}</p>
                  <p>{{ post.message }}</p>
                </div>
              </div>
            </div>
          </article>
          <div id="comment">

          </div>
       

    </div>
{% endblock %}
  
