{% extends "layout.twig" %}
{% block title %}Mon {% endblock %}
{% block css %}
  <link rel="stylesheet" href="../../public/css/blog.css"/>
  <link rel="stylesheet" href="../../public/css/article.css"/>
{% endblock %}

{% block nav %}
  {% include 'navigation_include.twig' %}
{% endblock %}

{% block content %}

  {#{{dump(comments[0])}}#}
<div id="OneArticle" class="flex">
  <div id="article">
     <div id="image" class="flex-around">
        <img src="../../public/image/{{post.postId}}.jpg" id="image"/>
      </div>
    <article id="article-contain">
       
          <div class="">
            <h1>{{ post.title }}</h1>
          </div>
          <div class="">
            <p>{{ post.date }}</p>
          </div>
          <div class="article-message flex-center">
            <p>{{ post.message }}</p>
          </div>

    </article>
  </div>
  <div id="comment">
    <h2 id="comment-title">Vos commentaires</h2>
    {% if comments is not empty %}
      {% for comment in comments %}
        <div class="comment">
          <!-- <p></p> -->
          <p>{{ comment.comment }}</p>
        </div>
       {% endfor %}
    {% else %}
      <p>No comment available.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
  
